<footer class="footer">
  <span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
  <span class="footer__copyright">{% if site.thanks.background_title and site.thanks.background_photographer %}{% assign backgroundcredit = true %}{% endif %}{% if backgroundcredit == true and site.thanks.background_photographer_contact %}{% assign backgroundcreditcontact = true %}{% else %}{% assign backgroundcreditcontact = false %}{% endif %}{% if backgroundcredit == true and backgroundcreditcontact == false %}{{ site.thanks.background_title }} background &copy; {{ site.time | date: '%Y' }} {{ site.thanks.background_photographer }} . All rights reserved.{% endif %}{% if backgroundcredit == true and backgroundcreditcontact == true %}{{ site.thanks.background_title }} background &copy; {{ site.time | date: '%Y' }} <a href="{{ site.thanks.background_photographer_contact }}" title="contact {{ site.thanks.background_photographer }}" target="_blank"> {{ site.thanks.background_photographer }}  </a>. All rights reserved.{% endif %} </span>
</footer> 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82095106-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82095106-1');
</script>
{% endif %}
